<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="WSHttpBinding_IComparatorService" 
                   transferMode="Streamed"
                   maxReceivedMessageSize="2147483647"
                   maxBufferSize="2147483647"/>
        </basicHttpBinding>
      </bindings>
    
      <!-- <bindings>
             <basicHttpBinding>
              <binding name="WSHttpBinding_IComparatorService" transferMode="Streamed"/>
             </basicHttpBinding>
           </bindings> -->

     
      <client>
            <endpoint address="http://localhost:8000/ComparatorService/ComparatorService"
                binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_IComparatorService"
                contract="ComparatorReference.IComparatorService" name="WSHttpBinding_IComparatorService">
                <identity>
                    <userPrincipalName value="Użykownik-8320E\Użykownik" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
